@charset "UTF-8";
/*@import "../css/scss/shuffling";
@import "../css/scss/slider_shuffing";*/
a {
  text-decoration: none; }

.em_case {
  position: relative;
  margin: 0 auto;
  height: 100%; }
  .em_case .row {
    position: relative;
    margin: 0 auto;
    height: 100%;
    max-width: 1160px; }
    .em_case .row .em_ljzx {
      margin: 35px auto 0 auto;
      width: 145px;
      height: 35px; }
      .em_case .row .em_ljzx a {
        display: none;
        width: 143px;
        height: 33px;
        border: 1px solid #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        text-align: center;
        font-size: 17px;
        line-height: 33px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        -webkit-transition-delay: 400ms;
        -moz-transition-delay: 400ms;
        transition-delay: 400ms; }
    .em_case .row > div {
      color: #fff;
      height: 100%; }
      .em_case .row > div .em_caseList_bg {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 0;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
      .em_case .row > div h2 {
        margin-top: 16px;
        font-weight: 400;
        font-size: 19px;
        line-height: 44px; }
      .em_case .row > div p {
        font-size: 15px;
        line-height: 30px; }
      .em_case .row > div .em_caseList_content {
        margin-top: 20px;
        font-size: 13px;
        line-height: 26px;
        overflow: hidden; }
      .em_case .row > div .em_caseList_main {
        position: relative;
        top: 50%;
        right: 25px;
        left: 0;
        margin-top: -145px; }
        .em_case .row > div .em_caseList_main .em_caseList_text {
          text-align: center; }
        .em_case .row > div .em_caseList_main .em_caseList_img {
          overflow: hidden;
          margin: 0 auto;
          width: 110px;
          height: 110px;
          -webkit-border-radius: 110px;
          -moz-border-radius: 110px;
          border-radius: 110px;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          transition: all .3s;
          -webkit-transition-delay: 400ms;
          -moz-transition-delay: 400ms;
          transition-delay: 400ms; }
      .em_case .row > div:hover .em_caseList_bg {
        height: 100%; }
      .em_case .row > div:hover .em_ljzx a {
        display: block;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
      .em_case .row > div:nth-child(1) .em_caseList_bg {
        background: #ba292e; }
      .em_case .row > div:nth-child(1) .em_caseList_img {
        background: url("../img/fwxm_img1.png") no-repeat; }
      .em_case .row > div:nth-child(1):hover .em_ljzx a:hover {
        background: #fff;
        color: #ba292e; }
      .em_case .row > div:nth-child(1):hover .em_caseList_img {
        background: url("../img/fwxm_img1.png") no-repeat 0 -110px; }
      .em_case .row > div:nth-child(2) .em_caseList_bg {
        background: #1599a5; }
      .em_case .row > div:nth-child(2) .em_caseList_img {
        background: url("../img/fwxm_img2.png") no-repeat; }
      .em_case .row > div:nth-child(2):hover .em_ljzx a:hover {
        background: #fff;
        color: #1599a5; }
      .em_case .row > div:nth-child(2):hover .em_caseList_img {
        background: url("../img/fwxm_img2.png") no-repeat 0 -110px; }
      .em_case .row > div:nth-child(3) .em_caseList_bg {
        background: #5e904d; }
      .em_case .row > div:nth-child(3) .em_caseList_img {
        background: url("../img/fwxm_img3.png") no-repeat; }
      .em_case .row > div:nth-child(3):hover .em_ljzx a:hover {
        background: #fff;
        color: #5e904d; }
      .em_case .row > div:nth-child(3):hover .em_caseList_img {
        background: url("../img/fwxm_img3.png") no-repeat 0 -110px; }
      .em_case .row > div:nth-child(4) .em_caseList_bg {
        background: #5d4378; }
      .em_case .row > div:nth-child(4) .em_caseList_img {
        background: url("../img/fwxm_img4.png") no-repeat; }
      .em_case .row > div:nth-child(4):hover .em_ljzx a:hover {
        background: #fff;
        color: #5d4378; }
      .em_case .row > div:nth-child(4):hover .em_caseList_img {
        background: url("../img/fwxm_img4.png") no-repeat 0 -110px; }

@media (max-width: 768px) {
  .em_case {
    height: auto;
    padding: 20px 0; }
    .em_case .row .em_ljzx {
      width: 110px;
      height: 35px; }
      .em_case .row .em_ljzx a {
        width: 110px;
        height: 25px;
        font-size: 13px;
        line-height: 26px; }
    .em_case .row > div h2 {
      font-size: 15px; }
    .em_case .row > div p {
      font-size: 13px; }
    .em_case .row > div .em_caseList_content {
      font-size: 12px; }
    .em_case .row > div .em_caseList_main {
      margin-top: unset; } }
.fullpage {
  top: 60px; }

.section.fp-section.fp-table.pageOne {
  height: 600px;
  /* width: 100%;
   margin: 0;
   color: #555;
   min-width: 320px;
   -webkit-text-size-adjust: 100%;
   font-family: "微软雅黑";
   font-size: 14px;
   line-height: 20px;*/
  /* background: url('../img/bannerImg/banner_bg.jpg') no-repeat center;*/
  /*background-color: white;*/
  background-size: cover; }
  .section.fp-section.fp-table.pageOne .fp-tableCell {
    vertical-align: top; }
.section.fp-section.fp-table.pageTwo {
  background: url("../img/bg2.jpg") no-repeat center;
  color: #fff;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover; }
.section.fp-section.fp-table.pageThree {
  background: url(../img/em_pro/bg3.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover; }
.section.fp-section.fp-table.pageFour {
  background: url(../img/bg4.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover; }
.section.fp-section.fp-table.pageFive {
  background: url(../img/em_partners/bg5.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover; }
.section.fp-section.fp-table.pageSix {
  background: url(../img/em_contact/bg6.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover; }
.section.fp-section.fp-table.pageFooter {
  background-color: #d0d2d6; }

.em_pro h2.em_h2 {
  display: none; }
.em_pro .em_btndiv {
  position: relative;
  top: 45px; }
  .em_pro .em_btndiv a.abtn {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 45px;
    height: 30px;
    outline: 0;
    background: url(../img/em_pro/btn.png) no-repeat; }
  .em_pro .em_btndiv a.aleft {
    right: 55px;
    background-position: 0 -30px; }
  .em_pro .em_btndiv a.agrayleft {
    background-position: 0 0;
    cursor: default; }
  .em_pro .em_btndiv a.aright {
    right: 0;
    background-position: -45px 0; }
  .em_pro .em_btndiv a.agrayright {
    background-position: -45px -30px;
    cursor: default; }
.em_pro .em_scrollcontainer {
  position: relative;
  left: 10px;
  top: 45px; }
  .em_pro .em_scrollcontainer .em_case_list {
    float: left;
    padding: 0 20px 20px 0; }
    .em_pro .em_scrollcontainer .em_case_list .em_case_img {
      width: 275px;
      height: 190px; }
      .em_pro .em_scrollcontainer .em_case_list .em_case_img img {
        width: 275px;
        height: 190px; }
    .em_pro .em_scrollcontainer .em_case_list .em_case_ico {
      position: absolute;
      top: 0;
      left: 0;
      width: 275px;
      height: 190px;
      background: url(../img/em_pro/case_ico.png) no-repeat center;
      opacity: 0;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      -webkit-opacity: 0;
      -moz-opacity: 0; }
    .em_pro .em_scrollcontainer .em_case_list:hover .em_case_ico {
      opacity: 1;
      -webkit-opacity: 1;
      -moz-opacity: 1; }
    .em_pro .em_scrollcontainer .em_case_list:hover .em_span_1, .em_pro .em_scrollcontainer .em_case_list:hover .em_span_3 {
      width: 100%; }
    .em_pro .em_scrollcontainer .em_case_list:hover .em_span_2, .em_pro .em_scrollcontainer .em_case_list:hover .em_span_4 {
      height: 100%; }
    .em_pro .em_scrollcontainer .em_case_list .em_case_xian {
      position: absolute;
      top: 22px;
      left: 22px;
      width: 241px;
      height: 146px; }
    .em_pro .em_scrollcontainer .em_case_list span {
      position: absolute;
      background: #0ddfba;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .em_pro .em_scrollcontainer .em_case_list .em_span_1 {
      top: 0;
      left: 0;
      width: 0;
      height: 2px; }
    .em_pro .em_scrollcontainer .em_case_list .em_span_2 {
      top: 0;
      right: 0;
      width: 2px;
      height: 0; }
    .em_pro .em_scrollcontainer .em_case_list .em_span_3 {
      right: 0;
      bottom: 0;
      width: 0;
      height: 2px; }
    .em_pro .em_scrollcontainer .em_case_list .em_span_4 {
      bottom: 0;
      left: 0;
      width: 2px;
      height: 0; }

@media (max-width: 768px) {
  .em_pro {
    padding-top: 20px;
    padding-bottom: 40px; }
    .em_pro .em_btndiv {
      top: 6px;
      left: -12px; }
    .em_pro .em_scrollcontainer {
      left: 50px; } }
.em_about .em_aboutList {
  padding-top: 30px;
  padding-left: 143px; }
  .em_about .em_aboutList .nav-tabs {
    border: unset; }
  .em_about .em_aboutList li {
    list-style: none;
    float: left;
    margin-left: 2px;
    background: #263551;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 38px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .em_about .em_aboutList li a {
      padding: 2px 20px;
      display: block; }
    .em_about .em_aboutList li:hover, .em_about .em_aboutList li.active, .em_about .em_aboutList li:active {
      background-color: #334871; }
    .em_about .em_aboutList li a {
      color: #fff; }
.em_about .em_about_div {
  position: relative;
  top: 45px; }
  .em_about .em_about_div .em_about_right .em_about_top a {
    float: left;
    margin-right: 58px;
    width: 90px;
    height: 118px; }
  .em_about .em_about_div .em_about_right .em_about_des {
    color: #fff;
    margin-top: 140px;
    font-size: 14px; }
.em_about .em_news_list {
  position: relative;
  top: 45px;
  color: #fff; }
  .em_about .em_news_list span {
    border: 1px solid #fff;
    padding: 5px 17px;
    width: 110px;
    display: inline-block;
    height: 28px;
    line-height: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .em_about .em_news_list h4 {
    margin-top: 7px;
    font-weight: 500;
    font-size: 18px;
    line-height: 62px;
    height: 62px;
    overflow: hidden; }
  .em_about .em_news_list .news_dec {
    overflow: hidden;
    height: 104px;
    color: #fff;
    font-size: 13px;
    line-height: 26px; }
  .em_about .em_news_list .news_more {
    margin-top: 38px;
    height: 37px; }
    .em_about .em_news_list .news_more a {
      display: block;
      width: 37px;
      height: 37px;
      background: url(../img/em_about/news_more.png) no-repeat;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s; }
.em_about .em_history {
  color: #fff;
  position: relative;
  top: 45px;
  background: url(../img/em_about/time_x1.png) no-repeat center 9px; }
  .em_about .em_history .history_btn_right {
    margin-top: 150px;
    height: 35px;
    background: url(../img/em_about/right_btn.png) no-repeat center; }
  .em_about .em_history .history_btn_left {
    margin-top: 150px;
    height: 35px;
    background: url(../img/em_about/left_btn.png) no-repeat center; }
  .em_about .em_history .history_main {
    height: 300px;
    overflow: hidden; }
  .em_about .em_history .em_history_list {
    float: left; }
    .em_about .em_history .em_history_list h4 {
      margin: 0 auto;
      color: #fff;
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 54px;
      padding-top: 15px; }
    .em_about .em_history .em_history_list .history_icon {
      margin: 5px auto 0 auto;
      height: 11px;
      background: url(../img/em_about/history_ico.png) no-repeat center bottom; }
    .em_about .em_history .em_history_list dl {
      margin: 0 auto;
      padding: 15px 15px 0;
      width: 268px;
      height: 114px;
      border: 1px solid #fff;
      border-top: none; }
    .em_about .em_history .em_history_list dd {
      float: right;
      width: 155px;
      color: #fff;
      font-size: 14px;
      line-height: 24px; }

@media (max-width: 768px) {
  .em_about {
    padding-top: 20px;
    padding-bottom: 40px; }
    .em_about .em_aboutTitle {
      padding-left: 10px; }
    .em_about .em_aboutList {
      margin-left: 20px; }
      .em_about .em_aboutList li {
        width: 60px; }
        .em_about .em_aboutList li a {
          padding: 0; }
    .em_about .em_about_div .em_about_right .em_about_top a {
      width: 56px;
      margin-right: 38px; }
    .em_about .em_about_div .em_about_right .em_about_des {
      margin-bottom: 50px; }
    .em_about .em_news_list h4 {
      font-size: 15px; }
    .em_about .em_news_list .news_more {
      margin-top: 0;
      margin-bottom: 30px; }
    .em_about .em_history .history_btn_left {
      margin-top: 50px; }
    .em_about .em_history .history_btn_right {
      display: none; } }
.em_partners .em_partnerTitle1 {
  display: none; }
.em_partners .em_partners_show {
  position: relative;
  margin-top: 28px;
  width: 100%;
  height: 3px;
  background: #0ddfba;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  transition: all 1s ease 0s; }
  .em_partners .em_partners_show.active {
    width: 100%; }
.em_partners .em_partners_main {
  background: url(../img/em_partners/service_main_bj.png) repeat left top; }
  .em_partners .em_partners_main .em_partners_listAll {
    padding: 20px 0; }
    .em_partners .em_partners_main .em_partners_listAll .em_partners_list {
      float: left;
      overflow: hidden;
      margin: 0 18px 22px;
      width: 170px;
      height: 100px; }
      .em_partners .em_partners_main .em_partners_listAll .em_partners_list span {
        position: absolute;
        background: #0ddfba;
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -moz-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -o-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
        .em_partners .em_partners_main .em_partners_listAll .em_partners_list span.em_span1 {
          top: 0;
          left: 0;
          width: 0;
          height: 2px; }
        .em_partners .em_partners_main .em_partners_listAll .em_partners_list span.em_span2 {
          top: 0;
          right: 0;
          width: 2px;
          height: 0; }
        .em_partners .em_partners_main .em_partners_listAll .em_partners_list span.em_span3 {
          right: 0;
          bottom: 0;
          width: 0;
          height: 2px; }
        .em_partners .em_partners_main .em_partners_listAll .em_partners_list span.em_span4 {
          left: 0;
          bottom: 0;
          width: 2px;
          height: 0; }
      .em_partners .em_partners_main .em_partners_listAll .em_partners_list:hover .em_span1, .em_partners .em_partners_main .em_partners_listAll .em_partners_list:hover .em_span3 {
        width: 100%; }
      .em_partners .em_partners_main .em_partners_listAll .em_partners_list:hover .em_span2, .em_partners .em_partners_main .em_partners_listAll .em_partners_list:hover .em_span4 {
        height: 100%; }

@media (max-width: 768px) {
  .em_partners {
    padding-top: 20px;
    padding-bottom: 40px; }
    .em_partners .em_partnerTitle1 {
      display: block; }
      .em_partners .em_partnerTitle1 img {
        height: 100%; }
    .em_partners .em_partnerTitle {
      display: none; }
    .em_partners .em_partners_main .em_partners_listAll {
      padding: 20px 0; }
      .em_partners .em_partners_main .em_partners_listAll .em_partners_list {
        width: 130px;
        height: 50px; } }
.em_contact .em_contact_img1 {
  display: none; }
.em_contact .em_status {
  padding-top: 150px;
  padding-right: 30px; }
  .em_contact .em_status .em_footer_left {
    color: #fff;
    float: left;
    text-align: center; }
  .em_contact .em_status .em_footer_right {
    color: #fff;
    float: right; }
.em_contact ul.em_contact_main {
  color: #fff;
  padding-left: 0;
  padding-top: 30px;
  padding-bottom: 30px; }
  .em_contact ul.em_contact_main li {
    list-style: none;
    font-size: 18px;
    line-height: 44px;
    padding-top: 15px; }
    .em_contact ul.em_contact_main li span {
      float: left;
      display: block;
      margin-right: 21px;
      width: 44px;
      height: 44px;
      cursor: pointer;
      -webkit-transition: all .2s;
      transition: all .2s; }
    .em_contact ul.em_contact_main li .contact_business {
      background: url(../img/em_contact/cont_b.png) no-repeat; }
    .em_contact ul.em_contact_main li .contact_type {
      background: url(../img/em_contact/cont_c.png) no-repeat; }
    .em_contact ul.em_contact_main li .contact_address {
      background: url(../img/em_contact/cont_d.png) no-repeat; }
    .em_contact ul.em_contact_main li:hover .contact_type, .em_contact ul.em_contact_main li:hover .contact_address, .em_contact ul.em_contact_main li:hover .contact_business {
      background-position: 0 -44px; }
    .em_contact ul.em_contact_main li a {
      color: #fff; }

@media (max-width: 768px) {
  .em_contact {
    padding-bottom: 40px; }
    .em_contact .em_contact_img img {
      height: 80%; }
    .em_contact .em_status {
      padding-top: 10px; }
    .em_contact .em_contact_top {
      padding-top: 20px; }
    .em_contact ul.em_contact_main {
      padding-bottom: 0; }
      .em_contact ul.em_contact_main li {
        font-size: 14px; } }
.em_footer_side {
  background-color: #f8d7da;
  padding: 5px 0;
  color: #fff; }
  .em_footer_side .em_footer_main {
    line-height: 26px; }

/*# sourceMappingURL=index.css.map */
