.em_footer_side {
  background: #000;
  color: $em-borderColor-base;

  & .em_footer_left {
    text-align: right;

    & span {
      padding-right: 12px;
      line-height: 40px;
    }
  }
}

@media(max-width: 768px) {
  .em_footer_side {
    & .em_footer_left {
      text-align: left;
    }
  }
}
