.em_pro {
  & h2 {
    &.em_h2 {
      display: none;
    }
  }

  & .em_btndiv {
    position: relative;
    top: 45px;

    & a {
      &.abtn {
        position: absolute;
        display: block;
        overflow: hidden;
        width: 45px;
        height: 30px;
        outline: 0;
        background: url(../img/em_pro/btn.png) no-repeat;
      }

      &.aleft {
        right: 55px;
        background-position: 0 -30px;
      }

      &.agrayleft {
        background-position: 0 0;
        cursor: default;
      }

      &.aright {
        right: 0;
        background-position: -45px 0;
      }

      &.agrayright {
        background-position: -45px -30px;
        cursor: default;
      }
    }
  }

  & .em_scrollcontainer {
    position: relative;
    left: 10px;
    top: 45px;

    & .em_case_list {
      float: left;
      padding: 0 20px 20px 0;

      & .em_case_img {
        width: 275px;
        height: 190px;

        & img {
          width: 275px;
          height: 190px;
        }
      }
      & .em_case_ico {
        position: absolute;
        top: 0;
        left: 0;
        width: 275px;
        height: 190px;
        background: url(../img/em_pro/case_ico.png) no-repeat center;
        opacity: 0;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        -webkit-opacity: 0;
        -moz-opacity: 0;
      }

      &:hover {
        & .em_case_ico {
          opacity: 1;
          -webkit-opacity: 1;
          -moz-opacity: 1;
        }

        & .em_span_1, .em_span_3 {
          width: 100%;
        }

        & .em_span_2, .em_span_4 {
          height: 100%;
        }
      }

      & .em_case_xian {
        position: absolute;
        top: 22px;
        left: 22px;
        width: 241px;
        height: 146px;
      }

      & span {
        position: absolute;
        background: #0ddfba;
        -webkit-transition: all .3s cubic-bezier(.25, .46, .45, .94);
        -moz-transition: all .3s cubic-bezier(.25, .46, .45, .94);
        -o-transition: all .3s cubic-bezier(.25, .46, .45, .94);
        transition: all .3s cubic-bezier(.25, .46, .45, .94);
      }

      & .em_span_1 {
        top: 0;
        left: 0;
        width: 0;
        height: 2px;
      }

      & .em_span_2 {
        top: 0;
        right: 0;
        width: 2px;
        height: 0;
      }

      & .em_span_3 {
        right: 0;
        bottom: 0;
        width: 0;
        height: 2px;
      }

      & .em_span_4 {
        bottom: 0;
        left: 0;
        width: 2px;
        height: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .em_pro {
    & .em_btndiv {
      top: 6px;
      left: -12px;
    }

    & .em_scrollcontainer {
      left: 50px;
    }
  }
}
