.em_footer_side {
  background-color: #f8d7da;
  height: 60px;
  padding: 5px 0;
  color: $em-textColor-base;

  & .em_footer_main {
    line-height: 26px;
    & .em_footer_left {
    }

    & .em_footer_right {
      img {
      }
    }
  }


}
