.em_nav {
  .bg-dark{
    height: 60px;
  }
  .navbar-nav {
    & a.nav-item.nav-link {
      &.active {
        color: $em-backgroundColor-highlight;
      }
    }
  }

  .navbar-collapse {
    padding-left: 400px;
  }

}

@media (max-width: 786px) {
  .em_nav {
    & .navbar-brand {
      padding-left: 20px;
    }

    .navbar-collapse {
      padding-left: 0;

      & .navbar-nav {
        float: right;
        width: 100px;
        text-align: center;

        & .nav-item {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

}
