$em-textColor-base:#fff;
$em-backgroundColor-base:#fff;
$em-backgroundColor-highlight: #3395ff;
$em-borderColor-base:#fff;
$em-aboutList-btn-color:#263551;
$em-abooutList-btn-color-highlight: #334871;
$em-partners-highlight-color:#0ddfba;

