li {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

.em_business_page {
  overflow: hidden; }
  .em_business_page .business_img {
    background: url("../../../img/em_business_page/business_bg.png") no-repeat center;
    width: 100%;
    background-size: cover;
    height: 300px;
    position: relative;
    top: 58px; }
  .em_business_page .em_business_container {
    margin: 0 auto;
    padding-top: 65px; }
    .em_business_page .em_business_container .business_left_title .business_title_top {
      padding: 15px 0 0 15px;
      margin-top: 0;
      height: 55px;
      line-height: 35px;
      background: #3395ff;
      color: #fff;
      font-size: 16px;
      font-weight: bold; }
      .em_business_page .em_business_container .business_left_title .business_title_top > span:nth-child(2) {
        margin-left: 10px;
        font-size: 11px;
        height: 25px;
        font-weight: normal;
        color: #DDD; }
    .em_business_page .em_business_container .business_left_title .business_list {
      height: auto;
      background: #FFF8FB;
      margin-bottom: 20px; }
      .em_business_page .em_business_container .business_left_title .business_list a.nav-link {
        color: #666666;
        border-radius: 0; }
        .em_business_page .em_business_container .business_left_title .business_list a.nav-link.active {
          color: #fff;
          background: #99caff; }
    .em_business_page .em_business_container .business_contact .contact_left_title {
      padding-left: 15px;
      height: 40px;
      line-height: 40px;
      background: #3395ff;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      margin-top: 15px; }
      .em_business_page .em_business_container .business_contact .contact_left_title > span:nth-child(2) {
        margin-left: 10px;
        font-size: 11px;
        height: 25px;
        font-weight: normal;
        color: #DDD; }
    .em_business_page .em_business_container .business_contact .contact_left_container {
      height: auto;
      padding-top: 75px;
      padding-bottom: 20px;
      overflow: hidden;
      margin-bottom: 20px;
      min-height: 100px;
      border: 1px solid #EEE;
      border-top: 0;
      background: #F6F6F6 url(../../../img/em_news_page/contact.jpg) left top no-repeat; }
      .em_business_page .em_business_container .business_contact .contact_left_container span {
        float: left;
        width: 222px;
        padding: 2px 6px;
        font-size: 14px;
        line-height: 24px;
        color: #666;
        overflow: hidden; }
    .em_business_page .em_business_container .business_right_title_nav {
      height: 55px;
      position: relative;
      border-bottom: 1px solid #e6e6e6; }
      .em_business_page .em_business_container .business_right_title_nav .business_right_title {
        overflow: hidden;
        color: #999999;
        font-size: 12px;
        padding-top: 25px;
        margin-left: -40px; }
        .em_business_page .em_business_container .business_right_title_nav .business_right_title li {
          float: left;
          line-height: 30px;
          height: 30px; }
          .em_business_page .em_business_container .business_right_title_nav .business_right_title li img.business_right_title_img {
            height: 19px;
            width: 19px;
            margin-right: 8px;
            margin-top: -8px; }
          .em_business_page .em_business_container .business_right_title_nav .business_right_title li a {
            color: #999999; }
          .em_business_page .em_business_container .business_right_title_nav .business_right_title li span:last-child {
            color: #666666; }
    .em_business_page .em_business_container .business_right_list {
      text-align: left;
      width: 100%;
      margin: 0 auto;
      line-height: 24px;
      font-size: 12px;
      padding: 20px 0 20px 0; }
      .em_business_page .em_business_container .business_right_list li.business_item {
        height: 179px;
        margin-bottom: 20px;
        border-bottom: 1px solid #e6e6e6;
        margin-left: -40px; }
        .em_business_page .em_business_container .business_right_list li.business_item .item_left img {
          max-width: 160px;
          max-height: 160px;
          width: 100%;
          height: 100%;
          margin-left: 25px; }
        .em_business_page .em_business_container .business_right_list li.business_item .item_right .item_title {
          border-bottom: 1px dashed #d9d9d9;
          height: 44px;
          line-height: 44px;
          font-size: 18px;
          white-space: nowrap;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          overflow: hidden; }
          .em_business_page .em_business_container .business_right_list li.business_item .item_right .item_title a {
            color: black;
            font-weight: 900; }
            .em_business_page .em_business_container .business_right_list li.business_item .item_right .item_title a:hover {
              color: black; }
          .em_business_page .em_business_container .business_right_list li.business_item .item_right .item_title span.business_date {
            color: #666666;
            float: right;
            font-size: 15px; }
        .em_business_page .em_business_container .business_right_list li.business_item .item_right .item_con {
          font-size: 14px;
          padding-top: 8px;
          text-overflow: ellipsis;
          -webkit-text-overflow: ellipsis;
          overflow: hidden; }
          .em_business_page .em_business_container .business_right_list li.business_item .item_right .item_con span {
            line-height: 24px;
            height: 72px;
            display: block;
            overflow: hidden;
            color: #666666; }
        .em_business_page .em_business_container .business_right_list li.business_item .item_right .item_more {
          font-size: 12px;
          line-height: 20px;
          padding-top: 6px;
          width: 595px; }
          .em_business_page .em_business_container .business_right_list li.business_item .item_right .item_more a {
            color: #00c; }
  .em_business_page .page-item {
    border: none; }
  .em_business_page .page-item:first-child {
    height: 40px;
    margin-right: 2px; }
    .em_business_page .page-item:first-child .page-link {
      height: 40px; }
  .em_business_page .page-item:last-child {
    height: 40px;
    margin-left: 2px; }
    .em_business_page .page-item:last-child .page-link {
      height: 40px; }
  .em_business_page .pages {
    width: 45px;
    height: 40px;
    border: 1px solid #EBEBEB;
    color: #8a8a8a;
    display: inline-block;
    line-height: 40px;
    float: left;
    font-size: 15px;
    text-decoration: none;
    margin: 0 2px;
    border-radius: 6px; }
    .em_business_page .pages .page-link {
      width: 45px;
      height: 40px;
      border-radius: 6px;
      text-align: center;
      line-height: 1.5rem; }

a.btn.disabled, fieldset:disabled a.btn {
  color: #bfbfbf; }

@media (max-width: 768px) {
  .em_business_page .business_img {
    background: url("../../../img/em_business_page/business_page_1024.png") no-repeat;
    height: 126px;
    background-size: cover; }
  .em_business_page .em_business_container .business_right_list li.business_item {
    height: auto; }
    .em_business_page .em_business_container .business_right_list li.business_item .item_left img {
      margin-left: 25%; }
    .em_business_page .em_business_container .business_right_list li.business_item .item_right .item_title {
      font-size: 15px;
      margin-left: -15px; }
      .em_business_page .em_business_container .business_right_list li.business_item .item_right .item_title span {
        width: 350px; } }

/*# sourceMappingURL=em_business_page.css.map */
