@import "../../scss/variable";

li {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.em_news_page {
  overflow: hidden;

  & .news_img {
    background: url("../../../img/em_news_page/news_bg.png") no-repeat center;
    width: 100%;
    background-size: cover;
    height: 300px;
    position: relative;
    top: 58px;
  }

  & .em_news_container {
    margin: 0 auto;
    padding-top: 65px;

    & .news_left_title {
      & .news_title_top {
        padding: 15px 0 0 15px;
        margin-top: 0;
        height: 55px;
        line-height: 35px;
        background: $em-backgroundColor-highlight;
        color: $em-textColor-base;
        font-size: 16px;
        font-weight: bold;

        & > span {
          &:nth-child(2) {
            margin-left: 10px;
            font-size: 11px;
            height: 25px;
            font-weight: normal;
            color: #DDD;
          }
        }
      }

      & .news_list {
        height: auto;
        background: #FFF8FB;
        margin-bottom: 20px;

        & a.nav-link {
          color: darken($em-textColor-base, 60%);
          border-radius: 0;

          &.active {
            color: $em-textColor-base;
            background: lighten($em-backgroundColor-highlight, 20%);
          }
        }
      }
    }

    & .news_contact {
      & .contact_left_title {
        padding-left: 15px;
        height: 40px;
        line-height: 40px;
        background: $em-backgroundColor-highlight;
        color: $em-textColor-base;
        font-size: 16px;
        font-weight: bold;
        margin-top: 15px;

        & > span {
          &:nth-child(2) {
            margin-left: 10px;
            font-size: 11px;
            height: 25px;
            font-weight: normal;
            color: #DDD;
          }
        }
      }

      & .contact_left_container {
        height: auto;
        padding-top: 75px;
        padding-bottom: 20px;
        overflow: hidden;
        margin-bottom: 20px;
        min-height: 100px;
        border: 1px solid #EEE;
        border-top: 0;
        background: #F6F6F6 url(../../../img/em_news_page/contact.jpg) left top no-repeat;

        & span {
          float: left;
          width: 222px;
          padding: 2px 6px;
          font-size: 14px;
          line-height: 24px;
          color: #666;
          overflow: hidden;
        }
      }
    }

    & .news_right_title_nav {
      height: 55px;
      position: relative;
      border-bottom: 1px solid darken($em-borderColor-base, 10%);

      & .news_right_title {
        overflow: hidden;
        color: darken($em-textColor-base, 40%);
        font-size: 12px;
        padding-top: 25px;
        margin-left: -40px;

        & li {
          float: left;
          line-height: 30px;
          height: 30px;

          & img.news_right_title_img {
            height: 19px;
            width: 19px;
            margin-right: 8px;
            margin-top: -8px;
          }

          & a {
            color: darken($em-textColor-base, 40%);
          }

          & span {
            &:last-child {
              color: darken($em-textColor-base, 60%);
            }
          }
        }
      }
    }

    & .news_right_list {
      text-align: left;
      width: 100%;
      margin: 0 auto;
      line-height: 24px;
      font-size: 12px;
      padding: 20px 0 20px 0;

      & li.news_item {
        height: 179px;
        margin-bottom: 20px;
        border-bottom: 1px solid darken($em-borderColor-base, 10%);
        margin-left: -40px;

        & .item_left {
          img {
            max-width: 260px;
            max-height: 160px;
            width: 100%;
            height: 100%;
            margin-left: -15px;
          }
        }

        & .item_right {
          & .item_title {
            border-bottom: 1px dashed darken($em-borderColor-base, 15%);
            height: 44px;
            line-height: 44px;
            font-size: 18px;

            & a {
              max-width: 250px;
              display: inline-block;
              white-space: nowrap;
              text-overflow: ellipsis;
              -o-text-overflow: ellipsis;
              overflow: hidden;
              color: black;
              font-weight: 900;

              &:hover {
                color: darken($em-textColor-base, 100%);
              }
            }

            & span.news_date {
              color: darken($em-textColor-base, 60%);
              float: right;
              font-size: 15px;
            }
          }

          & .item_con {
            font-size: 14px;
            padding-top: 8px;
            text-indent: 28px;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            overflow: hidden;

            & span {
              line-height: 24px;
              height: 72px;
              display: block;
              overflow: hidden;
              color: #666666;
            }
          }

          & .item_more {
            font-size: 14px;
            line-height: 20px;
            padding-top: 6px;
            width: 595px;

            & a {
              color: #00c;
            }
          }
        }
      }
    }
  }

  .page-item {
    border: none;
  }

  .page-item {
    &:first-child {
      height: 40px;
      margin-right: 2px;

      & .page-link {
        height: 40px;
      }
    }

    &:last-child {
      height: 40px;
      margin-left: 2px;

      & .page-link {
        height: 40px;
      }
    }
  }

  .pages {
    width: 45px;
    height: 40px;
    border: 1px solid #EBEBEB;
    color: #8a8a8a;
    display: inline-block;
    line-height: 40px;
    float: left;
    font-size: 15px;
    text-decoration: none;
    margin: 0 2px;
    border-radius: 6px;

    .page-link {
      width: 45px;
      height: 40px;
      border-radius: 6px;
      text-align: center;
      line-height: 1.5rem;

    }
  }
}

a.btn.disabled, fieldset:disabled a.btn {
  color: #bfbfbf;
}

.em_pagination {
  margin: 0 auto;
  width: 50px;

  a {
    padding: 5px 10px;
    border: 1px solid #ccc;
    line-height: 32px;
  }

  span.active {
    padding: 5px 10px;
    background-color: $em-backgroundColor-highlight;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .em_news_page {
    & .news_img {
      background: url("../../../img/em_news_page/news_bg_1024.png") no-repeat;
      height: 126px;
      background-size: cover;
    }

    & .em_news_container {
      & .news_right_list {
        & li.news_item {
          height: auto;

          & .item_left {
            img {
              margin-left: 12px;
            }
          }

          & .item_right {
            & .item_title {
              font-size: 15px;
              margin-left: -15px;

              & a {
                max-width: 100px;
              }

              & span.news_date {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
