li {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

.em_news_page {
  overflow: hidden; }
  .em_news_page .news_img {
    background: url("../../../img/em_news_page/news_bg.png") no-repeat center;
    width: 100%;
    background-size: cover;
    height: 300px;
    position: relative;
    top: 58px; }
  .em_news_page .em_news_container {
    margin: 0 auto;
    padding-top: 65px; }
    .em_news_page .em_news_container .news_left_title .news_title_top {
      padding: 15px 0 0 15px;
      margin-top: 0;
      height: 55px;
      line-height: 35px;
      background: #3395ff;
      color: #fff;
      font-size: 16px;
      font-weight: bold; }
      .em_news_page .em_news_container .news_left_title .news_title_top > span:nth-child(2) {
        margin-left: 10px;
        font-size: 11px;
        height: 25px;
        font-weight: normal;
        color: #DDD; }
    .em_news_page .em_news_container .news_left_title .news_list {
      height: auto;
      background: #FFF8FB;
      margin-bottom: 20px; }
      .em_news_page .em_news_container .news_left_title .news_list a.nav-link {
        color: #666666;
        border-radius: 0; }
        .em_news_page .em_news_container .news_left_title .news_list a.nav-link.active {
          color: #fff;
          background: #99caff; }
    .em_news_page .em_news_container .news_contact .contact_left_title {
      padding-left: 15px;
      height: 40px;
      line-height: 40px;
      background: #3395ff;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      margin-top: 15px; }
      .em_news_page .em_news_container .news_contact .contact_left_title > span:nth-child(2) {
        margin-left: 10px;
        font-size: 11px;
        height: 25px;
        font-weight: normal;
        color: #DDD; }
    .em_news_page .em_news_container .news_contact .contact_left_container {
      height: auto;
      padding-top: 75px;
      padding-bottom: 20px;
      overflow: hidden;
      margin-bottom: 20px;
      min-height: 100px;
      border: 1px solid #EEE;
      border-top: 0;
      background: #F6F6F6 url(../../../img/em_news_page/contact.jpg) left top no-repeat; }
      .em_news_page .em_news_container .news_contact .contact_left_container span {
        float: left;
        width: 222px;
        padding: 2px 6px;
        font-size: 14px;
        line-height: 24px;
        color: #666;
        overflow: hidden; }
    .em_news_page .em_news_container .news_right_title_nav {
      height: 55px;
      position: relative;
      border-bottom: 1px solid #e6e6e6; }
      .em_news_page .em_news_container .news_right_title_nav .news_right_title {
        overflow: hidden;
        color: #999999;
        font-size: 12px;
        padding-top: 25px;
        margin-left: -40px; }
        .em_news_page .em_news_container .news_right_title_nav .news_right_title li {
          float: left;
          line-height: 30px;
          height: 30px; }
          .em_news_page .em_news_container .news_right_title_nav .news_right_title li img.news_right_title_img {
            height: 19px;
            width: 19px;
            margin-right: 8px;
            margin-top: -8px; }
          .em_news_page .em_news_container .news_right_title_nav .news_right_title li a {
            color: #999999; }
          .em_news_page .em_news_container .news_right_title_nav .news_right_title li span:last-child {
            color: #666666; }
    .em_news_page .em_news_container .news_right_list {
      text-align: left;
      width: 100%;
      margin: 0 auto;
      line-height: 24px;
      font-size: 12px;
      padding: 20px 0 20px 0; }
      .em_news_page .em_news_container .news_right_list li.news_item {
        height: 179px;
        margin-bottom: 20px;
        border-bottom: 1px solid #e6e6e6;
        margin-left: -40px; }
        .em_news_page .em_news_container .news_right_list li.news_item .item_left img {
          width: 260px;
          height: 160px;
          margin-left: -15px; }
        .em_news_page .em_news_container .news_right_list li.news_item .item_right .item_title {
          border-bottom: 1px dashed #d9d9d9;
          height: 44px;
          line-height: 44px;
          font-size: 18px;
          white-space: nowrap;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          overflow: hidden; }
          .em_news_page .em_news_container .news_right_list li.news_item .item_right .item_title a {
            color: black;
            font-weight: 900; }
            .em_news_page .em_news_container .news_right_list li.news_item .item_right .item_title a:hover {
              color: black; }
        .em_news_page .em_news_container .news_right_list li.news_item .item_right .item_con {
          font-size: 12px;
          padding-top: 8px; }
          .em_news_page .em_news_container .news_right_list li.news_item .item_right .item_con span {
            line-height: 24px;
            height: 72px;
            display: block;
            overflow: hidden;
            color: #666666; }
        .em_news_page .em_news_container .news_right_list li.news_item .item_right .item_more {
          font-size: 12px;
          line-height: 20px;
          padding-top: 6px;
          width: 595px; }
          .em_news_page .em_news_container .news_right_list li.news_item .item_right .item_more span {
            color: #f00; }
          .em_news_page .em_news_container .news_right_list li.news_item .item_right .item_more a {
            color: black; }

@media (max-width: 768px) {
  .em_news_page .news_img {
    background: url("../../../img/em_news_page/news_bg_1024.png") no-repeat;
    height: 126px;
    background-size: cover; }
  .em_news_page .em_news_container .news_right_list li.news_item {
    height: auto; }
    .em_news_page .em_news_container .news_right_list li.news_item .item_left img {
      margin-left: 12px; }
    .em_news_page .em_news_container .news_right_list li.news_item .item_right .item_title {
      font-size: 15px;
      margin-left: -15px; }
      .em_news_page .em_news_container .news_right_list li.news_item .item_right .item_title span {
        width: 350px; } }

/*# sourceMappingURL=em_news_page.css.map */
